body {
	width: 900px
}
#Dwarfplanets {
	font-family: 'SN Pro', cursive;
}
#content{
	font-family: 'SN Pro', cursive;
	border: 1px solid;
}
#Headings {
	font-size: 34px;
}
#Images {
	font-size: 34px;
	text-align: center;
}
#Name {
	font-size: 30px;
	text-align: center;
}
#Life {
	font-size: 30px;
	text-align: center;
}
#Size {
	font-size: 30px;
	text-align: center;
}
#Moon {
	font-size: 30px;
	text-align: center;
}
