body {
	width: 85%;
}
#h1 {
	font-family: 'SN Pro', cursive;
	font-size: 40px;
}
#Dwarfplanets {
	font-family: 'SN Pro', cursive;
	font-size: 34px;
	padding: 40px;
	position: absolute;
	right: 20%;
	top: 50px;
}
#Headings {
	
}
#content {
	font-size: 28px;
	text-align: center;
	font-family: 'SN Pro', cursive;
	margin-top: 70px;
}

