body {
	width: 100%;
}
#h1 {
	font-family: 'SN Pro', cursive;
	font-size: 35px;
}
td {
	box-sizing: border-box;
	width: 100%;
	padding: 30px;
	border: 1px solid;
	position: absolute;
	right: 20px;
	font-size: 20px;
	text-align:center;
}
.spaceimage td {
	padding: 40px;
}


